<% include ./partials/header.ejs %>
    <!-- display room-list -->
    <div class="row">
        <div class="lists col-xs-12 col-lg-6 col-lg-offset-3">
            <div id="roomSuccess" class="alert alert-success"></div>
            <h3>Rooms<button id="addRoom" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>
            
            <ul id="roomList" class="list-group list-unstyled">
                <!--<%for(var i=0; i<locations.length; i++){%>-->
                    <li class="list-group-item">
                        <a id="room<%=locations[i].id%>" class="showRoom" href="#"><%=locations[i].name%></a>
                        <button class="deleteRoom pull-right btn btn-xs margin" id="roomBtnDel<%=locations[i].id%>">Delete</button>
                        <button class="updateRoom pull-right btn btn-xs margin" id="roomBtn<%=locations[i].id%>">Update</button>                       
                    </li>
                <!--<%}%>-->
            </ul>
        </div>
    </div><!-- roomlist end -->
        
    <!-- dispaly NPC-list -->
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <div id="npcSuccess" class="alert alert-success"></div>
            <h3>Npcs<button id="addNpc" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>
            <ul id="npcList" class="list-group list-unstyled">
                <!--<%for(var i=0; i<npcs.length; i++){%>-->
                    <li class="list-group-item">
                        <a id="room<%=npcs[i].id%>" class="showNpc" href="#"><%=npcs[i].keyword%></a>
                        <button class="deleteNpc pull-right btn btn-xs margin" id="npcBtnDel<%=npcs[i].id%>">Delete</button>
                        <button class="updateNpc pull-right btn btn-xs" id="npcBtn<%=npcs[i].id%>">Update</button>
                    </li>
                <!--<%}%>-->
            </ul>
        </div>
    </div><!-- npc-list end -->

    <!-- display items list -->
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <div id="itemSuccess" class="alert alert-success"></div>
            <h3>Items<button id="addItem" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>
            
            <ul id="itemList" class="list-group list-unstyled">
                <!--<%for(var i=0; i<items.length; i++){%>-->
                    <li class="list-group-item">
                        <a id="item<%=items[i].id%>" class="showItem" href="#"><%=items[i].keyword%></a>
                        <button class="deleteItem pull-right btn btn-xs margin" id="itemBtnDel<%=items[i].id%>">Delete</button>
                        <button class="updateItem pull-right btn btn-xs" id="itemBtn<%=items[i].id%>">Update</button>                       
                    </li>
                <!--<%}%>-->
            </ul>
        </div>        
    </div><!-- items-list end-->

    <!-- display guild list -->
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <div id="guildSuccess" class="alert alert-success"></div>
            <h3>Guilds<button id="addGuild" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>
            
            <ul id="guildList" class="list-group list-unstyled">
                <!--<%for(var i=0; i<guilds.length; i++){%>-->
                    <li class="list-group-item">
                        <a id="guild<%=guilds[i].id%>" class="showGuild" href="#"><%=guilds[i].name%></a>
                        <button class="deleteGuild pull-right btn btn-xs margin" id="guildBtnDel<%=guilds[i].id%>">Delete</button>
                        <button class="updateGuild pull-right btn btn-xs" id="guildBtn<%=guilds[i].id%>">Update</button>                       
                    </li>
                <!--<%}%>-->
            </ul>
        </div>        
    </div><!-- guild-list end-->
    
    <!-- modal window for create-npc-form -->
        <% include ./partials/npcForm.ejs %>
    <!-- npc-modal-end -->
    
    <!-- modal window for create-room-form -->
        <% include ./partials/roomForm.ejs %>
    <!-- room-modal-end -->
    
    <!-- modal window for create-item-form -->
        <% include ./partials/itemForm.ejs %>
    <!-- item-modal-end -->

    <!-- modal window for create-guild-form -->
        <% include ./partials/guildForm.ejs %>
    <!-- guild-modal-end -->
        
    <!-- modal window for displaying a record -->
    <div class="modal fade" id="displayRecord" tabindex="-1" role="dialog" aria-labelledby="displayRecord" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="displayTitle"></h4>
            </div>
            <div id="displayBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
    <!-- record-display end -->

</div><!-- wrapper end-->
<script>  <!--
    var user = <%-JSON.stringify(user)%>;
    var locations = <%-JSON.stringify(locations)%>;
    var npcs = <%-JSON.stringify(npcs)%>;
    var items = <%-JSON.stringify(items)%>;
    var guilds = <%-JSON.stringify(guilds)%>;
    -->
</script>
<script src="crud_functions.js"></script>
</body>
</html>