<!doctype html>
<html>
<head>
	<title>Create Game</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        -->
        

        <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="bootstrap/fonts/glyphicons-halflings-regular.svg">
        <link rel="stylesheet" href="bootstrap/fonts/glyphicons-halflings-regular.woff">
        <link rel="stylesheet" href="bootstrap/fonts/glyphicons-halflings-regular.ttf">
        <link rel="stylesheet" href="custom.css">
        <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper" class="container-fluid">
    <div id="topBar" class="row">        
        <div id="greeting" class="col-xs-12 col-sm-7 col-sm-offset-5 col-md-4 col-md-offset-8 pull-right text-right">
            <div class="col-xs-10">
                <span class="fa fa-user"></span>
                Hello very very long username<!--<%= user.email %>-->
            </div>            
            <a href="/logout" class="col-xs-2  btn btn-default btn-xs">Logout</a>
        </div>
    </div>    
    <!-- display room-list -->
    <div class="row">
        <div class="lists col-xs-12 col-lg-6 col-lg-offset-3">
            <div id="roomSuccess" class="alert alert-success"></div>
            <h3>Rooms<button id="addRoom" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>
            
            <ul id="roomList" class="list-group list-unstyled">
                <!--<%for(var i=0; i<locations.length; i++){%>-->
                    <li class="list-group-item">
                        <a id="room<%=locations[i].id%>" class="showRoom" href="#"><%=locations[i].name%></a>
                        <button class="deleteRoom pull-right btn btn-xs margin" id="roomBtnDel<%=locations[i].id%>">Delete</button>
                        <button class="updateRoom pull-right btn btn-xs margin" id="roomBtn<%=locations[i].id%>">Update</button>                       
                    </li>
                <!--<%}%>-->
            </ul>
        </div>
    </div><!-- roomlist end -->
        
    <!-- dispaly NPC-list -->
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <div id="npcSuccess" class="alert alert-success"></div>
            <h3>Npcs<button id="addNpc" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>
            <ul id="npcList" class="list-group list-unstyled">
                <!--<%for(var i=0; i<npcs.length; i++){%>-->
                    <li class="list-group-item">
                        <a id="room<%=npcs[i].id%>" class="showNpc" href="#"><%=npcs[i].keyword%></a>
                        <button class="deleteNpc pull-right btn btn-xs margin" id="npcBtnDel<%=npcs[i].id%>">Delete</button>
                        <button class="updateNpc pull-right btn btn-xs" id="npcBtn<%=npcs[i].id%>">Update</button>
                    </li>
                <!--<%}%>-->
            </ul>
        </div>
    </div><!-- npc-list end -->

    <!-- display items list -->
        <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <div id="itemSuccess" class="alert alert-success"></div>
            <h3>Items<button id="addItem" class="margin btn btn-xs" type="button"><span class="glyphicon glyphicon-plus"></span> new</button></h3>
            
            <ul id="itemList" class="list-group list-unstyled">
                <!--<%for(var i=0; i<items.length; i++){%>-->
                    <li class="list-group-item">
                        <a id="item<%=items[i].id%>" class="showItem" href="#"><%=items[i].keyword%></a>
                        <button class="deleteItem pull-right btn btn-xs margin" id="itemBtnDel<%=items[i].id%>">Delete</button>
                        <button class="updateItem pull-right btn btn-xs" id="itemBtn<%=items[i].id%>">Update</button>                       
                    </li>
                <!--<%}%>-->
            </ul>
        </div><!-- items-list end-->
        
    </div>
    
    <!-- modal window for create-npc-form -->
    <div class="modal fade" id="createNpcs" tabindex="-1" role="dialog" aria-labelledby="createNpcs" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-plus"></span> create new npc
                </h4>
            </div>
            <div class="modal-body">
                <div id="alertNpc" class="alert alert-danger"></div>
                <form id="createNpc" class="modal-form form-horizontal">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="keyword">
                    </div>
                    <div class="form-group">
                        <label>Gender:</label>
                        <div id="gender">
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="male"> male
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="gender" value="female"> female
                            </label>                        
                        </div>
                    </div>                                         
                    <div class="form-group">                        
                        <label>Short description:</label>
                        <input type="text" class="form-control" name="shortDesc">
                    </div>                                         
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" class="form-control" name="description">
                    </div>                                         
                    <div class="form-group">    
                        <label>Max-load:</label>
                        <input type="text" class="form-control" name="maxLoad">
                    </div>                     
                    <div class="form-group">
                        <label>Pacifist:</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="pacifist" value="true"> true
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="pacifist" value="false"> false
                            </label>
                        </div>                        
                    </div> 
                    <div class="form-group">
                        <label>Attributes:</label>
                        <div class="form-group"> 
                            <div class="col-xs-2">
                                <label for="hp" >HP</label>
                                <input id="hp" type="text" class="form-control" name="hp" placeholder="0-25" value="">
                            </div>
                            <div class="col-xs-2 col-xs-offset-1">
                                <label id="sp">SP</label>
                                <input id="sp" type="text" class="form-control" name="sp" placeholder="0-25" value="">
                            </div>
                            <div class="col-xs-2 col-xs-offset-1">                            
                                <label for="health">Health</label>
                                <input id="health" type="text" class="form-control" placeholder="50-100" name="health" value="">                                                        
                            </div>
                        </div>                
                    </div>
                    <div class="form-group">
                        <label>Npc says when:</label>
                    </div>
                    <div class="form-group">                        
                        <label class="subfield">Player enters room:</label>
                        <input type="text" class="form-control" name="playerEnters">
                    </div>
                    <div class="form-group">
                        <label class="subfield">Player drops item:</label>
                        <input type="text" class="form-control" name="playerDrops">
                    </div>
                    <div class="form-group" id="fields">
                        <label class="subfield">Chats with player:</label>
                        <div id="field1" class="input-group">
                            <input class="form-control" name="chat1" type="text" data-items="8"/>
                            <span class="input-group-btn">
                                <button id="addMore" class="btn" type="button">+</button>
                            </span>
                        </div>
                        </br>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-xs-12">Inventory</label>
                            <%for (var i=0; i<items.length; i++){%>
                            <div class="checkbox col-xs-6">
                                <label><input type="checkbox" name="items" value="<%=items[i].id%>"><%=items[i].keyword%></label>
                            </div>
                        <%}%>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12">Behaviours</label>
                        <!--<%for (var key in npcListen){%>-->
                            <div class="checkbox col-xs-6">
                                <label><input type="checkbox" name="behaviours" value="<%=key%>"><%=key%></label>
                            </div>
                        <!--<%}%>-->
                    </div>
                    <input type="hidden" name="form" value="createNpc">
                    <input id="npcId" type="hidden" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnCreateNpc" type="button" class="btn btn-info">Create new NPC</button>
            </div>
        </div>
      </div>
    </div><!-- npc-modal-end -->
    
    <!-- modal window for create-room-form -->
    <div class="modal fade" id="createRooms" tabindex="-1" role="dialog" aria-labelledby="createRooms" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-plus"></span> create new room
                </h4>
            </div>
            <div class="modal-body">
                <div id="alertRoom" class="alert alert-danger"></div>
                <form id="createRoom" class="modal-form form-horizontal">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="keyword">
                    </div>                   
                    <div class="form-group">                                            
                        <label>Description:</label>
                        <input type="text" class="form-control" name="description">
                    </div>            
                    
                    <div class="form-group">
                        <label class="col-xs-12">Add Npcs</label>
                        <%for (var i=0; i<npcs.length; i++){%>
                            <div class="checkbox col-xs-6">
                                <label><input type="checkbox" name="npcs" value="<%=npcs[i].id%>"><%=npcs[i].keyword%></label>
                            </div>
                        <%}%>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12">Add Items</label>
                        <%for (var i=0; i<items.length; i++){%>
                            <div class="checkbox col-xs-6"><!--  -->
                                <label><input type="checkbox" name="items" value="<%=items[i].id%>"><%=items[i].keyword%></label>
                            </div>
                        <%}%>
                    </div>
                    <!-- EXITS -->
                    
                    <div class=" form-group">
                        <label>Add exits</label>
                        <button id="addExit" class="btn" type="button">+</button>
                    </div>
                    <div id="exits" class="form-group">
                        <div id="exit1" class="col-xs-11 col-xs-push-1 form-group"> 
                            <label>Exit 1</label>
                            <div class="form-group">
                                <label class="">Keyword:</label>
                                <input type="text" class="form-control" name="exitKey1">
                            </div>                   
                            <div class="form-group">                                            
                                <label>Description:</label>
                                <input type="text" class="form-control" name="exitDesc1">
                            </div>
                            <div class="form-group">
                                <label>Leading to room:</label>
                                <select class="form-control" name="exitId1">
                                    <%for( var i=0; i<locations.length; i++){%>
                                        <option value="<%=locations[i].id%>"><%=locations[i].name%></option>
                                    <%}%>
                                </select>
                            </div>  
                            <div class="form-group">
                                <label>Action for player when leaving room:</label>
                                <input type="text" class="form-control" name="action1">
                            </div>                   
                            <div class="form-group">                                            
                                <label>Message for other users in room when player leaves:</label>
                                <input type="text" class="form-control" name="goodbye1">
                            </div>
                            <div class="form-group">                                            
                                <label>Message for other users in room when player arrives:</label>
                                <input type="text" class="form-control" name="hello1">
                            </div>
                        </div>
                    </div><!-- EXITS end -->
                    <input type="hidden" name="form" value="createRoom">
                    <input id="roomId" type="hidden" value="">
                    
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnCreateRoom" type="button" class="btn btn-info" >Create room</button>
            </div>
        </div>
      </div>
    </div><!-- room-modal-end -->
    
    <!-- modal window for create-item-form -->
    <div class="modal fade" id="createItems" tabindex="-1" role="dialog" aria-labelledby="createItems" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-plus"></span> create new item
                </h4>
            </div>
            <div class="modal-body">
                <div id="alertItem" class="alert alert-danger"></div>
                <form id="createItem" class="modal-form form-horizontal" role="form" action="/crud" method="post">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="keyword">
                    </div>                   
                    <div class="form-group">   
                        <label>Short description:</label>
                        <input type="text" class="form-control" name="shortDesc">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" name="description">
                    </div>
                    <div class="form-group">
                        <label>Max-load</label>
                        <input type="text" class="form-control" name="maxLoad">
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12">Add behaviours</label>
                        <%for (var key in itemListen){%>
                            <div class="checkbox col-xs-6">
                                <label><input type="checkbox" name="behaviours" value="<%=key%>"><%=key%></label>
                            </div>
                        <%}%>
                    </div>
                    <input type="hidden" name="form" value="createItem">
                    <input id="itemId" type="hidden" name="form" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnCreateItem" type="button" class="btn btn-info" >Create item</button>
            </div>
        </div>
      </div>
    </div><!-- room-modal-end -->
        
    <!-- modal window for displaying a record -->
    <div class="modal fade" id="displayRecord" tabindex="-1" role="dialog" aria-labelledby="displayRecord" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="displayTitle"></h4>
            </div>
            <div id="displayBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
    <!-- record-display end -->

</div><!-- wrapper end-->
<script>  <!--
    var user = <%-JSON.stringify(user)%>;
    var locations = <%-JSON.stringify(locations)%>;
    var npcs = <%-JSON.stringify(npcs)%>;
    var items = <%-JSON.stringify(items)%>;
    -->
</script>
<script src="crud_functions.js"></script>
</body>
</html>